*{
    box-sizing: border-box;
}

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredoka-v14-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/fredoka-v14-latin-700.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hind-madurai-v11-latin-regular.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hind-madurai-v11-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'); /
}

body{
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-container {
    max-width: 1140px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.header {
    padding-bottom: 37px;
    background: rgba(242, 206, 218, 0.3);
}

.header-logo {
    margin-right: 266px;  
    width:79px;
    height:79px;
    opacity: 1;
}


.header-list {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 171px;
    
}

.header-item {
    display: flex; 
}

.header-item span {
    width: 10px;
    color: #150101;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
    cursor: pointer;
}

.header-item span:hover {
    color:#D23166;
    font-size: 15px;
}

.header-item span:active {
    color:#D23166;
    font-size: 15px;
}

.header-item span span {
    color: rgba(242, 206, 218, 0.3);; 
}

.header-btn {
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D23166;
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.header-btn:hover {
    background-color: rgba(242, 206, 218, 0.3);
    border: 2px solid #D23166;
    color: #D23166;
}


/* HERO */
.hero-container {
    height: 597px;
    display: flex;
    background-image: url('/images/bg-image.png');
    background-size: 742px;
    background-repeat: no-repeat;
    background-position:calc(50% + 303px);
    display: flex;
    align-items: center;
    padding-bottom: 313px;
    padding-top: 200px;
}

.hero {
    background: rgba(242, 206, 218, 0.3);
}

.hero-left-side {
    width: 665px;
    z-index: 1;
}

.hero-firth-statement{
    color: #0F0101;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 0;
    margin-bottom: 6px;
}

.hero-heading {
    color: #0F0101;
    font-family: 'Fredoka', sans-serif;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.5%; /* 69.083px */
    margin: 0px;
    margin-bottom: 35px;
    opacity: 0.9;
}

.hero-heading span {
    opacity: 0.9;
    color: #D23166;
    font-family: 'Fredoka';
    font-size: 57.33px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.5%;
}

.hero-paragraph  {
    width: 523px;
    color: #0F0101;
    font-family: 'Hind Madurai';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    opacity: 0.6;
    margin: 0px;
    margin-bottom: 50px;
}


/* Servie  List */
.service-list-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-list-ul{
    display: flex;
    justify-content: space-between;
}

.service-list-item {
    width: 250px;
    height: 200px;
    border-radius: 7px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    padding: 33px 26px 27px 26px;
    text-align: center;
}

.service-list-item:hover {
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
}


.service-list-img {
    width: 51px;
    height: 43px;
    margin: 0px;
}

.service-list-heading {
    font-family:' Hind Madurai', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    margin-bottom: 9px;
    margin-top: 25px;
}

.service-list-paragraph {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    margin: 0px;
}

/* SUGAR */
.sugar {
    background-color: rgba(242, 206, 218, 0.3);
    margin-bottom: 138px;
}

.sugar-container {
    height: 550px;
    background-image: url('/images/sugar-img.png');
    background-repeat: no-repeat;
    background-position: calc(50% + 280px);
    background-size: 655px 657px;
    display: flex;
    align-items: center;
}

.sugar-heading {
    width: 349px;
    color: #150101;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.5%; /* 48.841px */
    margin: 0px;
    margin-bottom: 16px;
    
}

.sugar-paragraph {
    width: 442px;
    color: #150101;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.6;
    margin: 0px;
    margin-bottom: 35px;
}



/* our product */
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-heading {
    color: #150101;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 64px;
}

.product-category-list {
    max-width: 890px; 
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 50px;
}

.product-category-item {
    color: #000;
    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
    text-transform: uppercase;
}

.product-category-item:hover {
    opacity: 1;
    box-shadow: inset 0px -3px 0px 0px  #D64374;
    
}

.product-price-list {
    width: 100%;
    margin-bottom: 120px;
    
}

.product-price-item {
    display: flex;
    margin-bottom: 35px;
}

.product-price-item-right-side {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 60px;
}

.product-price-item:nth-child(2n){
    flex-direction: row-reverse;
}

.product-price-item:nth-child(2n) .product-price-item-right-side{
    align-items: end;
    text-align: right;
    margin-right: 85px;
}

.product-price-item:nth-child(2n) .product-price-item-img {
    margin-right: 0px;
}

.product-price-item-img {
    width: 580px;
    height: 415px;
    margin-right: 85px;
}



.product-price-item-heading {
    color: #000;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 11px;
}

.product-price-item-paragraph {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.7;
    margin-bottom: 28px;
}

.product-price-item-span {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.product-price-item-span span {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: line-through;
    opacity: 0.7;
}

.product-price-item-btn {
    display: block;
}

/* adele */
.product-adele {
    display: flex;
    align-items: center;
    
    
    margin-bottom: 150px;
}

.product-adele-right-side {
    margin-right: 224px;
}

.adele-right-side-top {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 46px;
}

.adele-top-img {
    width: 60px;
    height: 60px;
    margin-right: 21px;
    border-radius: 50%;
}

.adele-top-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.adele-top-heading {
    font-family: 'Robsoto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}

.adele-top-paragraph {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
    text-transform: uppercase;
}

.adele-right-side-middle {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.adele-middle-img {
    margin-top: 5px;
    margin-right: 10px;
}

.adele-middle2-img {
    position: relative;
    top:6px
}

.adele-middle-paragraph {
    width: 322px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.7;
}

.adele-right-side-bottom {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adele-right-side-bottom-arrow1 {
    color: #D64374;
    width: 14px;
    height: 14px;
    opacity: 0.5;
    cursor: pointer;
}

.adele-right-side-bottom img {
    border-radius: 50%;
}

.adele-right-side-bottom img:nth-child(3) {
    width: 58px;
    height: 58px;
    border: 1px solid #D64374;
}

.adele-right-side-bottom-arrow2 {
    transform: rotate(180deg);
    cursor: pointer;
}

.product-adele-img {
    width: 564px;
    height: 442px;
}

/* Simple Way To Order Your Food */
.simple_way {
    background-color: #F8EDF0; 
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 111px;
}

.simple_way-container {
    display: flex;
    justify-content: left;
}

.simple_way-img {
    width: 269px;
    height: 552.993px;
    flex-shrink: 0;
    border-radius: 33px;
    background: #D64374;
    box-shadow: -8px 8px 10px gray;
    margin-right: 135px;
}



.simple_way-right-side {
    margin-top: 50px;
}


.simple_way-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.simple_way-paragraph {
    color: #0F0101;
    width: 607px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.simple_way-list {
    margin-bottom: 23px;
}

.simple_way-item {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}

.simple_way-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    border-radius: 3px;
}

.simple_way-item:nth-child(2) img {
    padding: 8px;
}



.simple_way-item p {
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.simple_way-store-list {
    display: flex;
    justify-content: left;
    align-items: center ;
    margin-left: -16px;
}

.simple_way-store-list img {
    
    margin-right: 7px;
    width: 200px;
    height: 77px;
}

.simple_way-store-list img:nth-child(2) {
    width: 173px;
    height: 88px;
}


/* question */
.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;
}

.question-heading {
    width: 522px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.question-top, .question-bottom {
    max-width: 636px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.question-top input {
    width: 303px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFA3A3;
    
    background: #FFF;
    padding: 30px 30px 30px 25px;
    outline: none;
}


.question-bottom input {
    width: calc(100% - 120px);
    height: 74px;
    
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #FFA3A3;
    border-right: none;
    
    background: #FFF;
    padding: 30px 30px 30px 25px;
    outline: none;
    margin-right: -7px;
}

.question-btn {
    width: 134px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D64374;
    width: 144px;
    border: none;

    color: #FFF;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* footer */
.footer {
    background: #0A0808;
    padding-top: 70px;
    padding-bottom: 105px;
}

.footer-left-side {
    display: flex;
}

.footer-left-firth-column {
    margin-right: 37px;

}

.footer-left-logo {
    margin-bottom: 9px;
}

.footer-left-paragraph {
    width: 207px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.687%; /* 16.762px */
    letter-spacing: 0.12px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.footer-left-follow-heading {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

.footer-left-follow-list {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer-left-follow-item {
    margin-right: 10px;
}

.footer-left-follow-item-img {
    width: 15px;
    height: 15px;
}

.footer-left-second-column-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -12px;
}


.footer-left-second-column-item {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    margin-bottom: 10px;
}

.footer-left-second-column-item:hover {
    opacity: 1;
    cursor: pointer;
}