*{
    box-sizing: border-box;
}

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredoka-v14-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hind-madurai-v11-latin-regular.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hind-madurai-v11-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'); /
}


body{
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-logo {
    margin-right: 266px;
}


.header-list {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 171px;
}

.header-item {
    color: #150101;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;    
}

.header-btn {
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D23166;
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}


/* HERO */

.hero-container {
    height: 597px;
    display: flex;
    background-image: url('/images/hero-ice-cream.png');
    background-size: 597px 597px;
    background-repeat: no-repeat;
    background-position: right;
}

.hero-left-side {
    width: 665px;
}

.hero-firth-statement{
    color: #0F0101;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 0;
    margin-bottom: 6px;
}

.hero-heading {
    color: #0F0101;
    font-family: 'Fredoka', sans-serif;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%; /* 69.083px */
    margin: 0px;
    margin-bottom: 35px;
}